    {% extends "frontend/base.html" %}
    {% load static %]

    {% block content %}

        <div class="container">
            <div class="row" style="margin-top: 180px;">
                <div class="offset-md-3 col-md-4">
                    <div class="mb-5 text-center">
                        <h1>Pagina de Login</h1>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                          <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" autocomplete="off">
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                          </div>
                          <button type="submit" class="btn btn-primary btn-block">Login</button>
                            <div class="form-group">
                                <a href="" class="float-left mt-3 p-2">Register</a>
                                <a href="" class="float-right mt-3 p2">Recovery</a>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% endblock %}