{% extends 'dashboard/base.html' %}
{% load static %}

        {% block content %}
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

                            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="row">
                     <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-warning text-center">
                                <h1 class="font-light text-white"><i class="fas fa-tools"></i></h1>
                                <h6 class="text-white">Serviços</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>

                <!-- ============================================================== -->
                <!-- Start Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Serviços</h2>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-sm table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Serviços</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for service in services %}
                                            <tr>
                                                <td>{{ service.nome }}</td>
                                                <td colspan="3">
                                                    <a href="#" class="badge badge-pill badge-success">Descrição</a>
                                                    <a href="{% url 'agendamentos' %}" class="badge badge-pill badge-primary">Agendar</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Table Content -->
                <!-- ============================================================== -->
            </div>
                <!-- Container fluid  -->
        {% endblock %}